@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

body{
    background-color: #F5DFDF;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(46, 11, 171);
}

.container h3 {
    background-color:aquamarine;
    color: purple;
    padding: 1%;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}

/* div{
    font-size: 10px;
} */

p{
    color: brown;
    background-color: hsl(126, 48%, 79%);
    font-family: 'Comforter Brush', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8em;
}

#second-p{
    color: green;
    background-color: khaki;
    font-size: 1.5rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container{
    background-color: aqua;
    padding: 2%;
}

#box-model{
    background-color: lightblue;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    /* margin: 20px; */

    /* margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px; */

    /* margin: 5px 10px 5px 10px; */
    margin: 15px 10px;
}

.categories{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: black;
}

.categories a:hover{
    text-decoration: underline;
    color: red;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 1px dotted #333;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}

.button{
    margin: 0.2em 0;
    padding: 0 15px;
    border: none;
    text-align: center;
    line-height: 34px;
    border-radius: 0.2em;
    font-size: 1rem;
    background-color: burlywood;
}

.button:hover{
    background-color: #F5DFDF;
    cursor: pointer;
}

.block{
    float: left;
    width: 33.33%;
}

.clearfix{
    clear: both;
}

#main__block{
    float: left;
    width: 70%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

#side__bar{
    float: right;
    width: 30%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.position-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    background-image: url('./images/large-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.position-box h1{
    position: absolute;
    top: 140px;
    left: 200px;
}

.position-box h2{
    position: absolute;
    bottom: 40px;
    right: 200px;
}

.fixed-button{
    position: fixed;
    top: 20px;
}